
a:link {
  color: rgb(0, 0, 0);
}

a:visited {
   color: rgb(0, 98, 143);
}

a:hover {
   color: #070164;
}

a:active {
   color: rgb(0, 98, 143);
}

.dashboard {
  width: 100%;
  overflow: auto;
}

.dashboard__sidebar {
  float: left;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #5E7CE2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 0px;
  box-shadow: 10px 0px 0px 0px #4472CA;
  height: 100vh;
  color:#92B4F4;
  margin-top: 0;
}

.dashboard__sidebar svg {

  padding-bottom: 60px;
  padding-top: 50px;

}


.dashboard__container {
  float: right;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #5E7CE2;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 0px 0px #4472CA;
}
.dashboard__container_inner {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #CFDEE7;
}

.dashboard__user {
  color:#92B4F4;
}

.dashboard__user_space {
  background-color: #92B4F4;
  padding-top: 10px;
  padding-right: 7px;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 3px;
  border: none;
  color: #ecf2ff;
  background-color: #4472CA;
  box-shadow: 5px 5px 0px 0px #0A369D;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 30px;
}

.dashboard div {
  margin-top: 0px;
}
